<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,449},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,307},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,165},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,23},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>DangQian.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,23},{108,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,14}}</string>
                <key>sourceSize</key>
                <string>{108,14}</string>
            </dict>
            <key>Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,591},{71,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,100}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>GuaiWu.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{56,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,19}}</string>
                <key>sourceSize</key>
                <string>{56,19}</string>
            </dict>
            <key>Guanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,133},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>JiTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,307},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>Silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{73,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,107}}</string>
                <key>sourceSize</key>
                <string>{73,107}</string>
            </dict>
            <key>ui_GameOverNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{445,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,287}}</string>
                <key>sourceSize</key>
                <string>{445,287}</string>
            </dict>
            <key>ui_GameWinNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{437,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,242}}</string>
                <key>sourceSize</key>
                <string>{437,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_EndButton.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3647ada1d4fbe32dc7fce9044a827e0$</string>
            <key>textureFileName</key>
            <string>ui_EndButton.png</string>
        </dict>
    </dict>
</plist>
