<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Audio.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,412},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>AudioClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,94},{90,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,43}}</string>
                <key>sourceSize</key>
                <string>{90,43}</string>
            </dict>
            <key>AudioOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,277},{89,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,43}}</string>
                <key>sourceSize</key>
                <string>{89,43}</string>
            </dict>
            <key>Data.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{962,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,640}}</string>
                <key>sourceSize</key>
                <string>{962,640}</string>
            </dict>
            <key>DataClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,696},{130,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>MusicClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{90,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,43}}</string>
                <key>sourceSize</key>
                <string>{90,43}</string>
            </dict>
            <key>MusicOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,186},{89,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,43}}</string>
                <key>sourceSize</key>
                <string>{89,43}</string>
            </dict>
            <key>OptionClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,564},{130,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>ProducerClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,432},{130,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>data1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,412},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,509},{65,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,18}}</string>
                <key>sourceSize</key>
                <string>{65,18}</string>
            </dict>
            <key>option.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{958,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{958,640}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>option1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,390},{38,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>producer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{962,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,640}}</string>
                <key>sourceSize</key>
                <string>{962,640}</string>
            </dict>
            <key>producer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,368},{38,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>producer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,489},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_Setting.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6bc9b4ec7bfcf950d25c7acd55c5ba6$</string>
            <key>textureFileName</key>
            <string>ui_Setting.png</string>
        </dict>
    </dict>
</plist>
